<!-- File name: Assignment1_ExpressPortFolio, Student’s Name: Aniya, StudentID: 301342370, and Date: 1/Oct/2023 -->


<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>

    <section id="about-me">
      <h1>Aniya</h1>

      <div class="image-section">
        <img src="/img/Aniya.JPG" alt="Profile Image"
        style: width="200px"; height="200px">
      </div>

      <a href="Content/Aniya_Resume.pdf" target="_blank">View my Resume</a>   
     </section>

    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   