<!-- File name: Assignment1_ExpressPortFolio, Student’s Name: Aniya, StudentID: 301342370, and Date: 1/Oct/2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="Project 1">
          <h4>Sentimental Analysis of Twitter Data</h4>
          <p>This project is one of the important applications of big data. The project is used for understanding
            the users' view about a specific topic which can be known by tweets they post. The project is analyzed based on ratings whether
            it is positive, negative, or neutral tweets.</p>
        </div>
        <div class="image-section">
          <img src="/img/Sentiment-analysis-of-Twitter-Social.png" alt="Project Image" style="width: 300px; height: 200px;">
        </div>
      </div><br>
  
      <div class="col-md-6">
        <div class="Project 2">
          <h4>Exam Expert</h4>
          <p>The aim of the project is to design a comprehensive web-enabled application for the management 
            of the examination process. This is categorized into various sections. The section deals with 
            the confidential work, i.e., Processing of results, Computerization of Certificates, etc.</p>
        </div>
        <div class="image-section">
          <img src="/img/examination-management-software-500x500.webp" alt="Project Image" style="width: 200px; height: 200px;">
        </div>
      </div>
    </div><br>
  

    <div class="row">
      <div class="col-md-6">
        <div class="Project 3">
          <h4>Travel Management System</h4>
          <p>This project gives all the required facilities to their customers when they are ready to plan 
            for any tour. The facilities provided by this portal are Holiday Packages, travelling, Currency 
            converter, Distance Calculator, Hotel Reservation</p>
        </div>
        <div class="image-section3">
          <img src="/img/120067446-40863a80-c099-11eb-9b52-8d7444bc0cc4.png" alt="Project3 Image" style="width: 300px; height: 200px;">
          <br><br><br><br>
        </div>
      </div><br>
  
      <div class="col-md-6">
        <div class="Project4">
          <h4>School Management System</h4>
          <p>This project is application-based software which is mainly made for effective management 
            of a student. This software has been made in a user-friendly interface, so that administrator 
            can add, edit, or delete the entries of students and handle all the operations easily.</p>
        </div>
        <div class="image-section">
          <img src="/img/a7daaf1fccb6dda4fd41431ac7a8bb48.school-management-system.webp" alt="Project4 Image" style="width: 200px; height: 200px;">
        <br><br><br><br>
      </div>
      </div>
    </div>

    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   