<!-- File name: Assignment1_ExpressPortFolio, Student’s Name: Aniya, StudentID: 301342370, and Date: 1/Oct/2023 -->


<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>

     <!-- Services Section -->
  <section id="services">
    <div class="row">
      <div class="col-md-4">
        <h2>General Programming</h2>
        <p>Our experienced developers are proficient in a variety of programming languages and technologies. Whether you need custom software solutions or assistance with existing projects, we've got you covered.</p>
        <img src="/img/code-1839406_1280.jpg" alt="General Programming" style: width="300px"; height="200px"><br>
      </div>

      <div class="col-md-4">
        <h2>Web Development</h2>
        <p>Elevate your online presence with our top-notch web development services. From responsive design to e-commerce solutions, we build websites that not only look great but also perform seamlessly.</p>
        <img src="/img/1_V-Jp13LvtVc2IiY2fp4qYw.jpg" alt="Web Development" style: width="300px"; height="200px"><br>
      </div>

      <div class="col-md-4">
        <h2>Mobile Apps</h2>
        <p>Take your business mobile with our cutting-edge mobile app development services. We specialize in creating user-friendly and innovative applications for both iOS and Android platforms.</p>
        <img src="/img/how-to-make-an-app-9-stages.jpg" alt="Mobile Apps" style: width="300px"; height="200px"><br>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <br><h2>UI/UX Design</h2>
        <p>User experience is at the heart of what we do. Our talented designers craft intuitive and visually appealing interfaces that enhance the overall usability of your digital products.</p>
        <img src="/img/ux_ui-01-3.jpg" alt="UI/UX Design" style: width="300px"; height="200px"><br>
      </div>

      <div class="col-md-4">
       <br> <h2>Consultation Services</h2>
        <p>Not sure where to start? Our experts provide comprehensive consultation services to help you identify the right technology solutions for your business goals.</p>
        <img src="/img/20180514212041-GettyImages-876388294.jpeg" alt="Consultation Services" style: width="300px"; height="200px"><br><br><br><br><br>
      </div>
    </div>
  </section>
  <!-- End of Services Section -->

    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   